.create-lead-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .create-lead-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .create-lead-form input,
  .create-lead-form select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .create-lead-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-lead-form button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
  }
  .button-container {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons */
  }
  
  .button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-align: center; /* Center text inside buttons */
    text-decoration: none; /* Remove underline for links */
    display: inline-block; /* Ensure proper spacing and alignment */
  }
  
  .update-button {
    background-color: #4CAF50; /* Green */
  }
  
  .delete-button {
    background-color: #f44336; /* Red */
  }
  